{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Entretien{% endblock %}

{% block body %}
<section id="maintenance">
    <div class="container text-white">
        <h1 class="pt-3 img-txt">
            Espace entretiens
        </h1>
        <p class="img-txt">L’entretien de votre véhicule est raison d’être !</p>
        <p class="img-txt">
            Sur cette page vous découvrirez l’ensemble des services d’entretiens que nous proposons.
        </p>
        <p class="img-txt">Nos employés sont des experts dans leur domaine.</p>
    </div>
</section>
<section id="service">
    <div class="d-flex justify-content-center align-item-center p-3">
        <h2>Les services d’entretiens que nous proposons.</h2>
    </div>
    <div class="container">
        <div class="row">
            {% for service in services %}
            <div class="col-xl-6">
                <div class="card p-3 m-3 bg-dark">
                    <h3 class="card-header text-primary">{{ service.title }}</h3>
                    <p class="card-text mt-2 text-white">{{ service.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}