{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Garage V.Parrot - Administration{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="display-3 mt-3">Bienvenu sur le système d'administration du Garage V.PARROT !</h1>
  <div>
    <a href="{{ path('home') }}" class="btn">Retour à l'accueil du site</a>
  </div>
</div>
{% endblock content %}