{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Garage V.Parrot - Administration{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="display-4 mt-3">Bienvenu sur le système d'administration</h1>
  <div>
    <h2>Administrateurs</h2>
    <p>Les administrateurs peuvent ici gérer le site ainsi que les utilisateurs.</p>
    <p>Cependant la création / modification d'annonces ainsi que la modification de votre mot de passe doivent être
      effectuées depuis l'onglet présent dans la barre de navigation du site.</p>
  </div>
  <div>
    <h2>Employés</h2>
    <p>Les employés peuvent ici ajouter un avis client, valider un avis client, créer des options de véhicule et
      visualiser les demandes de
      contact.</p>
  </div>
  <div>
    <a href="{{ path('home') }}" class="btn">Retour à l'accueil du site</a>
  </div>
</div>
{% endblock content %}