body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

#home {
  width: 100%;
  height: 50vh;
  background: url("../img/accueil.jpg") bottom center;
  background-size: cover;
  position: relative;
  padding: 0;
}

#maintenance {
  width: 100%;
  height: 50vh;
  background: url("../img/entretien.jpg") center;
  background-size: cover;
  position: relative;
  padding: 0;
}

#occasion {
  width: 100%;
  height: 50vh;
  background: url("../img/occasion.jpg") center;
  background-size: cover;
  position: relative;
  padding: 0;
}

.img-txt,
.shad:hover {
  text-shadow: #d9230f 5px 0 10px;
}

#logo {
  height: 80px;
}