{% extends 'base.html.twig' %}

{% block title %}Garage V. Parrot - Annonces{% endblock %}

{% block body %}
<section id="occasion">
    <div class="container text-white">
        <h1 class="pt-3 img-txt">
            Espace occasions
        </h1>
        <p class="img-txt">
            Envie de de changement ? Nous vous proposons également des véhicules d’occasions à la vente !
        </p>
        <p class="img-txt">
            Pour tout renseignement ou prise de rendez-vous, un formulaire de contact disponible sur
            chaque annonce.
        </p>
    </div>
</section>
{% for message in app.flashes('primary') %}
<div class="container">
    <div class="alert alert-dismissible alert-primary mt-3">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
    </div>
</div>
{% endfor %}
<div class="d-flex justify-content-center align-item-center p-3">
    <h2>Les véhicules disponible à la vente</h2>
</div>
<section id="filter">
    {% include "car/_filter.html.twig" %}
</section>
<section id="car-content">
    {% include "car/_content.html.twig" %}
</section>
{% endblock %}