{% extends 'base.html.twig' %}

{% block title %}Garage V. Parrot - Créer une annonce{% endblock %}

{% block body %}
<div class="container">
  <h1 class="mt-4">Nouvelle annonce</h1>
  {{form(form)}}
</div>
{% endblock %}