{% extends "base.html.twig" %}

{% block title %}Garage V.Parrot - Contact{% endblock %}

{% block body %}
<section id="contact">

</section>
<section id="contact-form">
    <div class="container">
        <h1 class="display-3 mt-3">Nous contacter</h1>
        {{ form_start(form) }}
        {{form(form)}}
    </div>
</section>
{% endblock body %}