{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Administration{% endblock %}

{% block body %}
<section id="admin">
    <div class="container">
        <h1 class="display-4 pt-3">
            Système d'administration
        </h1>
    </div>
</section>
<section id="action">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 p-3">
                <a href="#" class="btn btn-outline-primary">Demande de contact</a>
            </div>
            <div class="col-md-4 col-sm-6 p-3">
                <a href="#" class="btn btn-outline-primary">Créer un avis client</a>
            </div>
            <div class="col-md-4 col-sm-6 p-3">
                <a href="#" class="btn btn-outline-primary">Avis client en attente</a>
            </div>
            <div class="col-md-4 col-sm-6 p-3">
                <a href="#" class="btn btn-outline-primary">Créer une annonce</a>
            </div>
            <div class="col-md-4 col-sm-6 p-3">
                <a href="#" class="btn btn-outline-primary">Modifier une annonce</a>
            </div>
            <div class="col-md-4 col-sm-6 p-3">
                <a href="#" class="btn btn-outline-primary">Supprimer une annonce</a>
            </div>

        </div>
    </div>
</section>
{% endblock %}